**/.git
**/bin
**/obj
**/.vs
**/data
**/media
**/secrets
*.md
control-center/src-backend/Modulab.ControlCenter/bin
control-center/src-backend/Modulab.ControlCenter/obj
control-center/node_modules
control-center/dist
